body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: flex;
    flex-direction: column; */
    margin: 0px;
    padding: 0px;
    background-color: #eceff1;
}

.hide {
    display: none;
}

.grouptitle, .disrTitle {
    text-align: center;
    margin: 7px;
}

.line, .time {
    text-align: center;
}

.disrDescription {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.direction, .time {
    padding-left: 3px;
}

#title {
    background-color: #d32f2f;
    color: white;
    text-align: center;
    margin: 0px;
}

#departures > div {
    border-top: #babdbe solid;
    margin-bottom: 4px;
}

tr {
    width: 99vw;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    margin: 0px;
}

tr > * {
    padding-top: 2px;
    padding-bottom: 2px;
    grid-row: 1/2;
}