<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="lang" content="sv">
    <meta name="robots" content="noindex,nofollow">
    <title>Bron</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: {% if car == "Open" %} #619656ff {% else %} #c05252ff {% endif %};
        }
        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }
        div {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div>
        <h1>Hisingsbron</h1>
        {% if car == "Closed" %}
            <img src="/static/öppen.png" alt="Öppen bro">
        {% else %}
            <img src="/static/stängd.png" alt="Stängd bro">
        {% endif %}
        <p>Senaste broöppningen: {{ lastOpening }}</p>
    </div>
</body>
</html>