<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="lang" content="sv">
    <title>Bron</title>
</head>
<body style="font-family: sans-serif">
    <h1>Hisingsbron</h1>
    <p>Bilar & kollektivtrafik: {{ car }}</p>
    <p>Gång & cykel: {{ gc }}</p>
    <p>Båt: {{ boat }}</p>
    <p>Meddelande från brovakt: {{ message }}</p>
    <p>Senaste broöppningen: {{ lastOpening }}</p>
</body>
</html>